{# ------------   Small devices display   ------------ #}
<div class="d-block d-md-none top-0">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{{ asset('images/quality_design_phone.png') }}" class="d-block w-100"
                     alt="calidad y diseño">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{{ asset('images/decorated-specialists-phone.png') }}" class="d-block w-100"
                     alt="especialistas en decorado">

            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/outlet_movil.png') }}" class="d-block w-100" alt="outlet">

            </div>
        </div>
    </div>

    <div class="ms-4 me-4 ">
        <div class="col-md-12 background-divided-mobile mx-auto">
            <div class="row pt-5 pb-5">
                <div class="col text-center mx-auto">
                    <a href="{{ path('catalogue') }}" class="text-decoration-none text-dark">
                        <img src="{{ asset('images/see_catalogue_mobile.png') }}" class="me-2"
                             alt="Ver catálogo"> Catálogo
                    </a>
                </div>
                <div class="col text-center mx-auto">
                    <a href="{{ path('outlet') }}" class="text-decoration-none text-dark">
                        <img src="{{ asset('images/outlet_discount_phone.png') }}" class="me-2" alt="Outlet">
                        Outlet
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mobile-view">
    <h1 class="text-center mb-5 mt-4"><span class="font-sofia-bold">Estilker Colombia SAS</span>
        crea y distribuye los decorados cerámicos más exclusivos a través de sus dos marcas: </h1>
    <div class="row mb-3">
        <div class="col-12 text-center">
            <img class="logo" src="{{ asset('images/site_index/estilker_logo_index.png') }}" alt="Estilker">
        </div>

        <div class="col-10 mx-auto mt-3">
            <p>Decorados frescos e innovadores que no dejan indiferente.</p>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col logo-divider-mobile">
            <hr>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-12 text-center">
            <img class="logos" src="{{ asset('images/site_index/lastdecor_logo_index.png') }}"
                 alt="Lastdecor">
        </div>

        <div class="col-10 mx-auto mt-3">
            <p>La elegancia en decorados. Lastdecor ofrece un exclusivo catálogo de piezas de cuarto fuego.</p>
        </div>
    </div>


    <div class="row ">
        <div class="col-12 mt-5">
            <img src="{{ asset('images/site_index/first_image.png') }}" alt="EXCELENCIA EN DECORADOS"
                 width="100%">
        </div>

        <div class="col-12">
            <h2 class="text-center font-sofia-bold mt-5 col-8 mx-auto">EXCELENCIA EN DECORADOS</h2>

            <div class="col-10 mx-auto text-justify mt-4">
                <p>En un mercado cerámico altamente globalizado ESTILKER y LASTDECOR han conseguido colocarse como
                    REFERENCIA en el sector de la decoración a través de la ESPECIALIZACIÓN. Nuestros decorados se
                    han convertido en sinónimo de CALIDAD y DISEÑO.</p>
            </div>
        </div>
    </div>


    <div class="row ">
        <div class="col-12 mt-5">
            <img src="{{ asset('images/site_index/second_image.png') }}" alt="CALIDAD Y DISEÑO"
                 width="100%">
        </div>

        <div class="col-12">
            <h2 class="text-center font-sofia-bold mt-5 col-8 mx-auto">CALIDAD Y DISEÑO</h2>

            <div class="col-10 mx-auto text-justify mt-4 ">
                <p>En un mercado cerámico altamente globalizado ESTILKER y LASTDECOR han conseguido colocarse como
                    REFERENCIA en el sector de la decoración a través de la ESPECIALIZACIÓN. Nuestros decorados se
                    han convertido en sinónimo de CALIDAD y DISEÑO.</p>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-12 mt-5">
            <img src="{{ asset('images/site_index/distribution.png') }}" alt="EXCELENCIA EN DECORADOS"
                 width="100%">
        </div>

        <div class="col-12">
            <h2 class="text-center font-sofia-bold mt-5 col-8 mx-auto">DISTRIBUCIÓN</h2>

            <div class="col-10 mx-auto text-justify mt-4">
                <p >En la actualidad tenemos presencia en toda COLOMBIA, gracias a nuestras bodegas repartidas
                    por el país somos capaces de llegar a nuestros clientes de la forma más rápida y eficaz.</p>
            </div>
        </div>
    </div>


</div>

