{% extends 'site/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/site/publicStyles.css') }}">
{% endblock %}
{% block body %}
{#    {{ dump(product) }}#}


    {{ include('site/product/outlet/_header.html.twig') }}


        <div class="container ">
            {{ include('site/product/outlet/_products_outlet_show_template.html.twig') }}


            {{ include('common/_pagination.html.twig',
        {
            number_pages : number_pages,
            current_page : current_page,
            'route_parameters' : { 'id' : selectedZone }

        }) }}
    </div>


{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/app/site/productShowControl.js') }}"></script>
            <script>
                $(document).ready(() => {
                    $('.nav-bar-items a').removeClass('active-nav-page-border font-sofia-bold');
                    $('#outlet').addClass('active-nav-page-border font-sofia-bold')
                })
            </script>

            <script src="{{ asset('js/app/site/sendFilterForm.js') }}"></script>


        {% endblock %}
