<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

{#        <script src="https://kit.fontawesome.com/4c1f8737b9.js" crossorigin="anonymous"></script>#}
        {% block stylesheets %}
{#            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">#}

            <!-- Global stylesheets -->
            <link rel="icon" href="{{ asset('images/logos/estilker_favicon.png') }}">
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/core.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/core.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/components.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/colors.css') }}">
            <link rel="stylesheet" href="{{ asset('css/customStyles.css') }}">
            <!-- /global stylesheets -->
            {#{{ encore_entry_link_tags('app') }}#}


        {% endblock %}


    </head>
    <body>

            {{ include('common/nav.html.twig') }}
            <!-- /main navbar -->


            <!-- Page container -->
            <div class="page-container">

                <!-- Page content -->
                <div class="page-content">

                    {{ include('common/main_sidebar.html.twig') }}

                    <!-- Main content -->
                    <div class="content-wrapper">
                    {{ include('common/flash_messages.html.twig') }}
                        <!-- Content area -->
                        <div class="content">
                            {% block body %}

                            {% endblock %}

                        </div>
                        <!-- /content area -->

                    </div>
                    <!-- /main content -->

                </div>
                <!-- /page content -->

            </div>
            <!-- /page container -->

{#        {% endblock %}#}


        {% block javascripts %}
{#            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>#}

            <!-- Core JS files -->
            <script src="{{ asset('js/plugins/loaders/pace.min.js') }}"></script>
            <script src="{{ asset('js/core/libraries/jquery.min.js') }}"></script>
            <script src="{{ asset('js/core/libraries/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/plugins/loaders/blockui.min.js') }}"></script>
            <!-- /core JS files -->

            <!-- Theme JS files -->

{#            <script src="{{ asset('js/plugins/visualization/d3/d3.min.js') }}"></script>#}
{#            <script src="{{ asset('js/plugins/visualization/d3/d3_tooltip.js') }}"></script>#}
{#            <script src="{{ asset('js/plugins/forms/styling/switchery.min.js') }}"></script>#}
            <script src="{{ asset('js/plugins/forms/selects/select2.min.js') }}"></script>
            <script src="{{ asset('js/plugins/forms/styling/uniform.min.js') }}"></script>
{#            <script src="{{ asset('js/plugins/ui/moment/moment.min.js') }}"></script>#}
{#            <script src="{{ asset('js/plugins/pickers/daterangepicker.js') }}"></script>#}
            <script src="{{ asset('js/core/app.js') }}"></script>
            <script src="{{ asset('js/pages/form_layouts.js') }}"></script>
{#            <script src="{{ asset('js/pages/dashboard.js') }}"></script>#}


            <!-- /theme JS files -->


            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
